name: CI
on: [push, pull_request]
env:
  CARGO_REGISTRIES_CRATES_IO_PROTOCOL: sparse
jobs:
  Linux:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Update Rust
        run: rustup update
      - name: Release Build
        run: cargo build --release --all
      - name: Execute Tests
        run: cargo test --release --all
      - name: Run Clippy
        run: cargo clippy --release --all -- -D warnings
      - name: Check Formatting
        run: cargo fmt --all -- --check
